<h1>Recherche: </h1>
<form>
    <select class="selectSearch" type="text">
        <option value="">Genre</option>
        <option value="Homme">Homme</option>
        <option value="Femme">Femme</option>
    </select>
    <input class="inputSearch" type="prenom" placeholder="prénom"/>
    <input class="inputSearch" type="number" placeholder="âge"/>
    <input class="inputSearch" type="interet1" placeholder="interet1">
    <input class="inputSearch" type="interet2" placeholder="interet2">
    <input class="inputSearch"type="interet3" placeholder="interet3">
    <button><img src="../../assets/img/search.png" alt="search"></button>
</form>