.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    max-width: 800px;
    min-width: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
}

.present {
    flex: 6;

    h2 {
        margin: 5px 0;
        color: darkred;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
    p {
        margin: auto;
        text-align: justify;
    }
}

.buttons {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    button {
        background-color: gold;
        font-weight: bold;
        min-height: 25px;
        border-radius: 5px;

    }

    button:hover{
        cursor: pointer;
    }
}
